@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

@media (min-width: 1026px) {
  * {
    visibility: hidden;
    font-family: "Inter", sans-serif;
  }
  .divAnuncio {
    visibility: visible;
    font-size: 35px;
    text-align: center;
    width: 285px;
    margin-left: 40%;
    color: #666666;
    padding-top: 20%;
    display: flex;
  }
}

@media (max-width: 1024px) {
  .divAnuncio {
    visibility: hidden;
    height: 0px;
  }
}

@media (min-width: 380px) {
  .navigate {
    gap: 13px;
  }
  .center {
    left: 20px;
    background-color: #0165fc;
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

html,
body {
  height: 100%;
}

/* Splash */

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.main {
  background-image: url(../data/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
}

.center {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 43vh;
  width: 43vh;
  left: 1rem;
  position: absolute;
  top: 20%;
  background-image: url(../data//prefeitura-logo-centro.png);
  background-repeat: no-repeat;
  background-position: 50%;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.77);
  background-size: 80%;
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.logoSplash {
  width: 80%;
  margin: 0 auto;
  height: 12%;
  display: block;
  position: relative;
  top: 80%;
}

/* Splash */
.menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  padding: 10px;
}

#checkbox-menu {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

label span {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background-color: #109cf1;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
  transform: rotate(45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(3) {
  opacity: 0;
}

.cover {
  position: absolute;
  left: -8px;
  z-index: -1;
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  width: -webkit-fill-available;
}

.cloud {
  padding-top: 36%;
}

.cloud-span {
  padding: 27px;
  background: antiquewhite;
  width: 80%;
  opacity: 80%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 22px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.busca-home {
  margin-top: 10%;
  text-decoration: none;
  border: none;
  border-radius: 30px;
  width: 90%;
  height: 45px;
  display: block;
  text-align: center;
  margin-left: 4%;
  padding: 15px;
  font-size: medium;
  font-family: "Poppins", sans-serif;
}
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.services {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding-top: 130%;
  text-align: center;
}

.navigate {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 45%;
  padding: 20px;
  gap: 15px;
  position: absolute;
  top: 6%;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.links {
  border: 1px solid #787486;
  height: 46%;
  width: 30%;
  border-radius: 25px;
  gap: 5px;
  font-size: 12px;
  display: grid;
  align-items: stretch;
  justify-items: center;
  align-content: center;
  padding: 15px;
}

.links img {
  width: 40px;
  height: 30px;
}
.navigate span {
  position: inherit;
  margin-top: -8%;
  font-weight: bold;
}

.ondeIr {
  width: 100%;
  height: 50%;
  display: flex;
  top: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.inline {
  display: inline-flex;
  padding: 10px;
  justify-content: space-around;
  gap: 55%;
}

.locals {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 7px;
  padding: 5px;
  padding-top: 0;
  justify-content: center;
  gap: 10px;
  padding-left: 20px;
}
.locals p {
  text-align: start;
  color: #787486;
  width: 85%;
  margin: 0 auto;
}
.close {
  text-align: start;
  padding-left: 7%;
}

.locals span {
}

.localName {
  font-weight: 600;
  font-size: 10px;
}

/* Agendar */
.footer {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #787486;
  gap: 20%;
  width: 100%;
  padding: 20px;
}

.logoAgendar {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.agendarServicos {
  height: 100vh;
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.realizarAgendamento {
  border: solid 1px black;
  width: 90%;
  height: 25%;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  gap: 10px;
}

.realizarAgendamento2 {
  border: solid 1px black;
  width: 90%;
  height: 25%;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  gap: 10px;
}
.realizarAgendamento3 {
  border: solid 1px black;
  width: 90%;
  height: 25%;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  gap: 10px;
}
.realizarAgendamento4 {
  border: solid 1px black;
  width: 90%;
  height: 25%;
  border-radius: 20px;
  display: flex;
  padding: 10px;
  gap: 10px;
}
.quadro {
  background-color: white;
  width: 14vh;
  height: 70%;
  padding: 8%;
  border-radius: 20px;
  padding-top: 35px;
  display: flex;
  border: 1px solid black;
  padding-left: 4vh;
}

.quadro img {
  width: 60px;
  height: 40px;
}

.infoAgenda {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 10px;
  padding-top: 10px;
}

.infoAgenda p {
  font-family: "Poppins", sans-serif;
}

.infoAgenda p:nth-child(2) {
  font-weight: 700;
}

.mostSearched {
  display: flex;
  gap: 10px;
  padding: 5px;
  width: 18vh;
  height: 3vh;
  text-align: center;
  border-radius: 20px;
  border: 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #0165fc;
  background-color: #dbeafe;
  border: none;
}

.mostSearched img {
  width: 15px;
  height: 15px;
}

.agendarButton {
  position: absolute;
  top: 34vh;
  width: 80%;
  margin-left: 3px;
  height: 4vh;
  border-radius: 10px;
  border: none;
  color: #0165fc;
  background-color: #dbeafe;
}

.btn2 {
  top: 59vh;
}
.btn3 {
  top: 84vh;
}
.btn4 {
  top: 109vh;
}
/* Agendar */

/* InfoServices */

.selection-div-dia:hover {
  background-color: #0165fc;
  color: #dbeafe;
}

.openServices {
  height: 80vh;
  width: 85%;
  display: flex;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
  flex-wrap: wrap;
}

.quadroInfo {
  width: 13vh;
  height: 20%;
  border-radius: 20px;
  padding-top: 35px;
  border: 1px solid black;
  padding-left: 6%;
}

.quadroInfo img {
  width: 80px;
  margin: 0 auto;
  height: 55px;
}

.foco {
  margin-left: 10px;
}

.serviçosDisponiveis {
  padding: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10;
  margin-bottom: 20;
  font-family: "Poppins", sans-serif;
}

.serviçosDisponiveis li {
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
}

.serviçosDisponiveis span {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #0165fc;
  font-weight: 700;
}

.diaHora {
  width: 100vh;
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.diaHora span {
  font-size: 18px;
  font-weight: 600;
  color: #0165fc;
  font-family: "Poppins", sans-serif;
}

.infoBtn {
  position: unset;
  margin: 0 auto;
}

.horizontal-section {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
  display: -webkit-box;
  width: 700px;
  height: 60px;
  max-width: 80vw;
  gap: 7px;
}

.horizontal-section div {
  scroll-snap-align: center;
  border: 1px solid black;
  height: 40px;
  padding: 9px;
  border-radius: 20px;
  text-align: center;
  width: 85px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
/* InfoServices */

/* Sucesso */

.agendamento {
  text-align: center;
  display: block;
}

.sucess {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.moradia {
  display: flex;
  align-items: center;
}

.dataSucess {
  display: flex;
  align-items: center;
  gap: 5px;
}

.horarioSucess {
  font-size: 40px;
  color: #0165fc;
  font-weight: 600;
  line-height: 65px;
}

.BtnFinal {
  position: inherit;
}

.bounce-in-fwd {
  -webkit-animation: bounce-in-fwd 1.1s both;
  animation: bounce-in-fwd 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-18 18:59:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* Sucesso */
